[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorspacious = "*"
Pillow = "*"
nox = "*"
pytest = "*"
pytest-watch = "*"
wemake-python-styleguide = "*"
logme = "*"
progressbar2 = "*"
python-decouple = "*"
requests-html = "*"
webcolors = "*"

[dev-packages]
black = "==19.10b0"

[requires]
python_version = "3.7"
